.aboutMe {
    width: 80%;
    margin: auto;
}

.aboutMe h3 {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 0;
}

.mySkills ul {
    list-style-type: none;
    padding-left: 0;
}

.mySkills li {
    margin: 0 0 15px;
}

.skill {
    font-weight: 630;
    font-size: 1.2em;
}

#aboutImage {
    display: none;
}

@media screen and (min-width: 1000px) {
    .about {
        display: flex;
    }

    .aboutImageDiv {
        margin: auto;
        width: 50%;
    }

    #aboutImage {
        display: inline;
        max-height: 450px;
        margin: auto;
    }

    .aboutMe {
        width: 40%;
        margin: 0 10%;
        text-align: left;
    }

    .mySkills {
        margin: 30px 0 0;
        text-align: left;
    }

    .mySkills h3 {
        margin-top: 5px;
    }
}

@media screen and (min-width: 1500px) {
    .aboutImageDiv {
        width: 60%;
    }

    #aboutImage {
        max-height: 600px;
    }

    .aboutMe {
        width: 35%;
        margin: 0 15% 0 2%;
    }
}