body {
  	text-align: center;
}

.navbar {
	background-color: #116466;
	position: fixed;
	top: 0;
	width: 100%;
	height: 56px;
	opacity: .95;
}

h2 {
	font-size: 2.5em;
}

@media screen and (min-width: 769px) {
	h2 {
		font-size: 3.5em;
	}
}

@media screen and (min-width: 1225px) {
	h2 {
		font-size: 4.5em;
	}
}