.contact {
    display: grid;
}

#contact {
    padding-bottom: 1px;
}

.contactLinks {
    max-width: 80%;
    margin: auto;
}

.contactLink {
    width: 100%;
    text-align: left;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.contactLink a {
    display: inline;
    font-size: .9em;
    margin-left: 15px;
    color: lightgrey;
}

.contactLink a:hover {
    color: white;
}

.contactIcon {
    width: 25px;
    display: inline;
}

.contactForm {
    max-width: 80%;
    margin: 20px auto;
}

#contactMe {
    width: 100%;
    text-align: left;
}

.contactForm input, .contactForm textarea {
    font-family: inherit;
    font-size: 100%;
    width: 90%;
    border: none;
    border-radius: 8px;
    padding: 10px 5%;
    margin-bottom: 20px;
}

.contactForm input:focus, textarea:focus {
    outline-color: gray;
}

/* .submitButton {
    max-width: 120px;
    color: black;
    border-radius: 8px;
    border: 1px solid lightgrey;
    background-color: #f9f9f9;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
} */

.submitButton:hover {
    border-color: gray;
    background-color: lightgray;
}

.submitButton:disabled {
    background-color: lightgray;
    color: gray;
}

.submitButton:disabled:hover {
    border-color: lightgray;
    cursor: not-allowed;
}

.error {
    background-color: lightcoral;
    padding: 8px;
    border-radius: 8px;
}

.success {
    background-color: #116466;
    padding: 8px;
    border-radius: 8px;
}

@media screen and (min-width: 500px) {
    .contactLink a {
        font-size: 1.1em;
        margin-left: 25px;
    }

    .contactForm input, .contactForm textarea {
        padding: 15px 5%;
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 1000px) {
    .contact {
        grid-template-columns: 1fr 1fr;
    }

    .contactLinks {
        display: flex;
        height: 100%;
        flex-direction: column;
        margin-top: 5%;
    }

    .contactLink {
        height: 20%;
        margin: 0;
    }

    .contactIcon {
        width: 35px;
    }
}

@media screen and (min-width: 1400px) {
    .contactLinks {
        width: 50%;
    }
}

@media screen and (min-width: 1550px) {
    .contactForm input, .contactForm textarea {
        width: 95%;
        margin-left: -10%;
    }

    .error, .success, #contactMe {
        margin: 25px 2% 25px -8%;
    }
}