.contact {
    display: flex;
}

.contactLinks {
    width: 80%;
    margin: auto;
}

.contactLinks a {
    display: block;
}

/* .contactLinks {
    text-align: left;
    max-width: 80%;
    margin: auto;
} */