.contact {
    display: grid;
}

.contactLinks {
    width: 80%;
    margin: auto;
}

.contactLinks a {
    display: inline;
}

.contactIcon {
    width: 25px;
    display: inline;
}

/* .contactLinks {
    text-align: left;
    max-width: 80%;
    margin: auto;
} */