.footer {
    background-color: #116466;
    margin: 60px 0 0;
    padding: 10px 20px;
}

.footer a {
    color: whitesmoke;
    text-decoration: underline;
    margin-left: 10px;
}

.footer a:hover {
    color: darkgray;
}

.footer a:active {
    color: gray;
}