#brian {
    font-size: 1.1em;
    margin: auto 0;
    width: 35%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown button {
    background-color: #238d8f;
    border: none;
    margin: 7px 0px;
    width: 125px;
}

.dropdownLinks {
    position: absolute;
    z-index: 2;
    background-color: #238d8f;
    width: 125px;
    margin-top: 2px;
    border-radius: 0 0 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 6px;
}

.dropdownLinks a {
    display: block;
    padding: 3px 0px;
}

.dropdownLinks a:hover {
    background-color: #05a6a8;
    overflow: clip;
}

#bottomDropdownLink:hover {
    border-radius: 0 0 5px 5px;
}

.pageLinks {
    display: none;
    margin: auto 0;
    width: 35%;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: lightgrey;
}

.navbar a:active {
    color: darkgrey;
}

.icon {
    max-width: 20px;
}

@media screen and (min-width: 769px) {
    .dropdown {
        display: none;
    }

    .pageLinks {
        display: flex;
        justify-content: space-around;
    }

    #brian {
        font-size: 1.3em;
        width: 25%;
    }
}