.projects {
	display: inline-grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
}

.projectCard {
	background-color: white;
	color: black;
	margin: 20px;
	padding: 20px;
	border-radius: 15px;
}