.projects {
	display: inline-grid;
    align-items: start;
}

.projectCard {
	background-color: white;
	color: black;
	margin: 5%;
	padding: 10px 5%;
	border-radius: 15px;
    max-width: 80%;
}

.projectCard h3 {
    font-size: 1.5em;
}

.projectDescription {
    text-align: left;
}

.closed {
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    line-height: 1.5;
}

.underlined {
    text-decoration: underline;
    font-weight: 550;
}

.descriptionButtonDiv {
    display: block;
    text-align: end;
    margin-bottom: 20px;
}

.descriptionButton {
    display: inline-block;
    border: none;
    background-color: white;
    color: #116466;
    padding: 0 10px;
}

.descriptionButton:hover {
    color: #238d8f;
}

.descriptionButton:active {
    color: darkgray;
}

.projectScreenshot {
    max-width: 100%;
}

.projectButton {
    border-radius: 8px;
    border: 1px solid lightgrey;
    background-color: #f9f9f9;
    color: black;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    display: inline-block;
    margin: 10px 0px;
}

.projectButton:hover {
    border-color: gray;
    color: black;
}

.projectRepos {
    display: block;
}

@media screen and (min-width: 450px) {
    .projectRepos {
        display: flex;
        justify-content: space-around;
    }
}

@media screen and (min-width: 769px) {
    .projects {
        display: inline-grid;
        grid-template-columns: 1fr 1fr;
    }

    .projectCard {
        max-width: 400px;
    }
}

@media screen and (min-width: 1500px) {
    .projects {
        display: inline-grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}