.iframeDiv {
    position: relative; 
    padding-bottom: 48.02342606149341%; 
    height: 0;
    margin-bottom: 32px;
    max-width: 100%;
    z-index: 0;
}

.iframeVid {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    border: none;
}

.hidden {
    display: none;
}

@media screen and (min-width: 769) {
    .iframeDiv{
        margin-bottom: 45px;
    }
}